    {% extends "base.jinja2" %}
    {% block content %}
        <header class="bottom-border">
            <h1 class="highlight-text">Generate {{ title }}</h1>
        </header>
        <p>{{ description | safe }}</p>
        <form type="POST" action="{{ request.route_url(route, gender=gender) }}">
            <label for="gender">Select a gender
                <select name="gender">
                    <option value="{{ options[0] }}">{{ options[0].title() }}</option>
                    <option value="{{ options[1] }}">{{ options[1].title() }}</option>
                    <option value="{{ options[2] }}">{{ options[2].title() }}</option>
                    <option value="{{ options[3] }}">{{ options[3].title() }}</option>
                </select>
            </label>
            <br />
            <br />
            <label for="number">How many names?
                <select name="number">
                {% for n in numbers %}
                    <option value="{{ n }}">{{ n }}</option>
                {% endfor %}
                </select>
            </label>
            <br />
            <br />
            <button type="submit">Generate a name</button>
        </form>
        {% for name in names %}
            <p class="name-result"><strong>{{ name }}</strong></p>
        {% endfor %}
    {% endblock content %}
